{% extends "paperCapsule/base.html"%}
{% block search_form %}
    <form class="d-flex" method="POST" action="{% url 'search-articles' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search your saves" name="searched">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Archived Articles</title>
</head>
<body>
    <div class="row">
            {% include 'paperCapsule/sidebar_tags.html' %}

        <div class="col-md-10">
            <h5>Archive</h5>
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-4 mb-4">
                        <article class="media content-section d-flex flex-column h-100">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a class="mr-2" href="#">{{ article.author.first_name }} {{ article.author.last_name }}</a>
                                </div>
                                <h5><a class="article-title custom-title" href="{% url 'article-detail' article.id %}">{{ article.title }}</a></h5>
                                
                                <p class="article-content">
                                    {{ article.display_content|safe }}
                                </p>

                                <p>{{ article.estimated_reading_time }} mins</p>
                            
                            
                                {% if user in article.saves.all %}
                                    <a href="{% url 'article-save' article.id %}" class="btn btn-sm">UnSave</a>
                                {% else %}
                                    <a href="{% url 'article-save' article.id %}" class="btn btn-sm">Save</a>
                                {% endif %}
                                {% if user in article.favorites.all %}
                                    <a href="{% url 'article-favorite' article.id %}" class="btn btn-sm">UnFav</a>
                                {% else %}
                                    <a href="{% url 'article-favorite' article.id %}" class="btn btn-sm">Fav</a>
                                {% endif %}
                                {% if user in article.archived.all %}
                                    <a href="{% url 'article_unarchive' article.id %}" class="btn btn-sm">Unarchive</a>
                                {% else %}
                                    <a href="{% url 'article_archive' article.id %}" class="btn btn-sm">Archive</a>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content%}
