{% extends "paperCapsule/base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'paperCapsule/create_forms.css' %}">
</head>
<body>
    
</body>
</html>
    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              
                {{ form.as_p }}
                {{ form.media }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock content%}
