{% extends "paperCapsule/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Saved Articles</title>
    <!-- Include the Bootstrap CSS -->
   
</head>
<body>
    <h1>Saved Articles by {{ user.username }}</h1>
    <ul>
        {% for article in articles %}
            <li>{{ article.title }} - {{ article.author }}</li>
            {% if user in article.saves.all %}
            <a href="{% url 'article-save' article.id %}">UnSave</a>
            {% else %}
                <a href="{% url 'article-save' article.id %}">Save</a>
            {% endif %}
            {% if user in article.favorites.all %}
            <a href="{% url 'article-favorite' article.id %}">UnFav</a>
            {% else %}
                <a href="{% url 'article-favorite' article.id %}">Fav</a>
            {% endif %}

            {% if user in article.archived.all %}
            <a href="{% url 'article_archive' article.id %}">Unarchive</a>
            {% else %}
                <a href="{% url 'article_archive' article.id %}">Archive</a>
            {% endif %}
            
            <a href="{% url 'add_tag' article.id %}">Add Tag</a>

        {% empty %}
            <li>No Saved articles found.</li>
        {% endfor %}
    </ul>
</body>

</html>
{% endblock content%}
