{% extends "paperCapsule/base.html" %}
{% block content %}


<div class="row">
{% include 'paperCapsule/sidebar_tags.html' %}

{% for article in articles %}
    <div class="col-md-10"><h2>Articles with "{{ tag_name }}"" tag </h2>
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-4">
                        <article class="media content-section">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a class="mr-2" href="#">{{ article.author.first_name }} {{ article.author.last_name }}</a>
                                </div>
                                <h5><a class="article-title" href="{% url 'article-detail' article.id %}">{{ article.title }}</a></h5>
                                
                                <p class="article-content">
                                    {{ article.display_content|safe }}
                                </p>

                                <p>{{ article.estimated_reading_time }} mins</p>

                                {% if user in article.saves.all %}
                                    <a href="{% url 'article-save' article.id %}" class="btn btn-sm btn-danger">UnSave</a>
                                {% else %}
                                    <a href="{% url 'article-save' article.id %}" class="btn btn-sm btn-primary">Save</a>
                                {% endif %}
                                {% if user in article.favorites.all %}
                                    <a href="{% url 'article-favorite' article.id %}" class="btn btn-sm btn-danger">UnFav</a>
                                {% else %}
                                    <a href="{% url 'article-favorite' article.id %}" class="btn btn-sm btn-primary">Fav</a>
                                {% endif %}
                                {% if user in article.archived.all %}
                                    <a href="{% url 'article_archive' article.id %}" class="btn btn-sm btn-danger">Unarchive</a>
                                {% else %}
                                    <a href="{% url 'article_archive' article.id %}" class="btn btn-sm btn-primary">Archive</a>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
{% empty %}
    <li>No saved articles found for this tag.</li>
{% endfor %}
</div>
{% endblock content %}
